body{
    background:#;
}

.container {
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
}

#form {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 0px 0px 0px 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#form .header h1{
    color: #3333;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

